<?xml version="1.0"?>

<model>
  <name>gradebanner4</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>


  <author>
    <name>CugRobot</name>
    <email>http://cugrobot.cug.edu.cn/</email>
  </author>

  <description>
    A Road  Simulation  according to the 2017 FIRA Air rules.
  </description>
</model>
